<h1>Listing books</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Autor</th>
    <th>Quantidade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.count{book.title} ### Duvida!!! ### %></td> 
    <td><%= link_to 'Ver', book %></td>
    <td><%= link_to 'Editar', edit_book_path(book) %></td>
    <td><%= link_to 'Apagar', book, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Livro', new_book_path %>
